/* Palette */
/* Dark Gray #303841 */
/* Blue Gray #3a4750 */
/* Teal #00adB5 */
/* White #eeeeee */

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 90vh;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  align-content: center;
  background-color: #3a4750;
  color: #eeeeee;
  font-size: 1.75vh;
}

.home, .projects, .games {
  min-height: 90vh;
  width: 75%;
  padding: 10px;
  margin: 0 auto;
}

.projects, .games {
  text-align: left;
}

.nav {
  height: 100%;
  width: 33%;
}

header {
  display: flex;
  flex-direction: row;
}

header, footer {
  background-color: #303841;
  font-size: 1.5vh;
  align-content: center;
  padding: 10px;
  min-height: 10%;
  color: #00adB5;
}

h1, h2, h3, h4, h5, h6, a {
  color: #00adB5;
  text-align: center;
}

.project {
  text-align: justify;
  margin-bottom: 100px;
}

iframe, video, img {
  float: right;
  margin-right: 0;
  margin-left: 2%;
  margin-bottom: 2%;
}
